.bg-lightgray {
    background-color: lightgray;
}
.bg-dark-primary {
    background-color: #003f84;
}

.f-20 {
    font-size: 20px;
}

.icono-circulo {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    text-align: center;
    font-size: 10px;
    line-height: 18px;
    color: gray;
    margin: 0;
    background-color: rgb(238, 238, 238);
    border: gray solid 1px;
}

/*---------------------------------
    Menu principal y fases (etapas)
---------------------------------*/
.titulo-principal a:hover{
    text-decoration-line: none;
}

.titulo-principal a.extendido {
    display: none;
}

.menu-principal{
    height: 60px;
}

.menu-principal .opciones-usuario {
    margin-right: 1em;
}

.menu-principal .opciones-usuario ul {
    list-style: none;
}

.menu-principal .opciones-usuario ul li {
    float: left;
    margin: 0;
    margin-left: 1em;
}

.menu-principal .opciones-usuario ul li a {
    color: white;
}

.boton-etapas {
    padding: 0.8em;
    width: 280px;
    height: 60px;
    position: relative;
    left: -165px;
    z-index: 50;
}

.boton-etapas a {
    color: white;
    position: absolute;
    right: 1em;
    font-weight: bold;
}

.boton-etapas a:hover {
    text-decoration: none;
}

.etapa-actual {
    top: 70px;
    left: 0;
    text-align: right;
    padding-right: 1em;
}

.etapas {
    position: absolute;
    background:white;
    z-index: 50;
    width: 280px;
    top: 120px;
}

.etapas ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.etapas ul li {
    padding: 0 2em;
    height: 4em;
    border: 1px solid lightgray;
    color: lightgray;
}

.etapas ul li a {
    color: inherit;
    text-decoration: none;
}

.etapas ul li.activo {
    background-color: #28a745;
    color: white;
    border: none;
}

.etapas ul li.activo::after {
    content: "";
    width: 5em;
    height: 5em;
    position: absolute;
    right: -5em;
    border: solid rgba(0, 0, 0, 0) 2.5em;
    border-left: #28a745 solid 2.5em;
}

.mostrar-etapas {
    left: 0;
    transition: 1s;
}

.ocultar-etapas {
    left: -420px;
    transition: 1s;
}

.mostrar-btn-etapas {
    left: 0;
    transition: 1s;
}

.ocultar-btn-etapas {
    left: -165px;
    transition: 1s;
}

.fondo-oscuro {
    background-color: black;
    opacity: 0.5;
    position: absolute;
    z-index: 45;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}


/*---------------------------------
    inicio (con sesion )
---------------------------------*/
.datos-estudiante {
    border-top: 4px solid #003f84;
}

.datos-estudiante .row:nth-child(even){
    background-color: rgb(233, 233, 233);
}


/*---------------------------------
    footer
---------------------------------*/
.footer {
    height: 40px;
    background: lightgray;
}

.footer .texto-footer {
    line-height: 40px;
}


/*----------- Responsive design --------------*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .titulo-principal a.extendido {
        display: block;
    }
    .titulo-principal a.abrev {
        display: none;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
   
}